body {
     background-color:black;
     background-image:url(https://media.discordapp.net/attachments/1047035958857564170/1075110885430939808/890097921742213180.png);
}

h1 {
   color:black;
   text-align:center;
}

p {
  color:black;
  text-align:center;
}